@model OdjeljenjeIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>Skolska godina</th>
            <th>Razred</th>
            <th>Oznaka</th>
            <th>Razrednik</th>
            <th>Prebaceni u vise odjeljenje</th>
            <th>Prosjek ocjena</th>
            <th>Najbolji ucenik</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var r in Model.Rows)
        {
        <tr>
            <td>@r.SkolskaGodina</td>
            <td>@r.Razred</td>
            <td>@r.Oznaka</td>
            <td>@r.Razrednik</td>
            <td>@r.Prebaceno</td>
            <td>@r.ProsjekOcjena</td>
            <td>@r.NajboljiUcenik</td>
            <td>
                <form asp-action="Delete" method="post">
                    <a asp-action="Details" asp-route-id="@r.OdjeljenjeId" class="btn btn-info">Details</a>
                    <input id="id" name="id" value="@r.OdjeljenjeId" hidden/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        }

    </tbody>
</table>

<a asp-action="Add" class="btn btn-primary">Add</a>
